* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    /* position: relative; */
    padding-left: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
    padding-top: 1rem;
}

.slide {
    border-radius: 1rem;
    box-shadow: 0px 0px 7px #666;
    width: 500px;
    height: 700px;
}

.slide-hidden {
    display: none;
}

.arrow {
    position: absolute;
    background-color: #fff;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 5px black);
}

.arrow:hover {
    cursor: pointer;
}


.arrowBackward {
    position: absolute;
    left: 3rem;
}

.arrowForward {
    position: absolute;
    left: 28rem;
}

.imageName{
    z-index: 99;
}